# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/
[Ll]ibrary/
[Tt]est*
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
*.pidb.meta
*.pdb.meta
sysinfo.txt
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
.consulo/
*.tmp
*.pdb
*.opendb
# ================= #
# local temp folder #
# ================= #
*IOS/Data/
*IOS/Libraried/
*IOS/Unity-iPhone.xcodeproj/project.xcworkspace/xcuserdata/
*IOS/Unity-iPhone.xcodeproj/xcuserdata/
*IOS/Unity-iPhone.xcodeproj
*IOS/Classes/Native/
*IOS/SDK/
*IOS/Frameworks/
*IOS/Unity-iPhone/
*IOS/build
*.apk
*.unitypackage
